<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PageotD GitHub Page</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="./assets/images/page-icon.ico" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="./assets/css/style.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
  <script src="https://kit.fontawesome.com/51722b042c.js" crossorigin="anonymous"></script>
</head>

<body>

  <!--
    - #MAIN
  -->

  <main>

    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="./assets/images/my-avatar.png" alt="{{ aboutme[0]['name'] }}" width="80">
        </figure>

        <div class="info-content">
          <h1 class="name" title="{{ aboutme[0]['name'] }}">{{ aboutme[0]['name'] }}</h1>

          <p class="title">{{ aboutme[0]['position'] }}</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>
        
      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <i class="fa-regular fa-envelope"></i>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:{{ aboutme[0]['email'] }}" class="contact-link">{{ aboutme[0]['email'] }}</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>{{ aboutme[0]['location'] }}</address>
            </div>

          </li>

        </ul>

        <div class="separator"></div>

        {# Include Social networks list #}
        {% include 'social.j2' %}

      </div>

    </aside>

    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link  active" data-nav-link>About</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Resume</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Publications</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Portfolio</button>
          </li>

        </ul>

      </nav>

      <!--
        - #ABOUT
      -->

      <article class="about  active" data-page="about">

        <header>
          <h2 class="h2 article-title">About me</h2>
        </header>

        <section class="about-text">
          <p>{{ aboutme[0]['description'] }}</p>
        </section>


        <!--
          - Interests
        -->
        {# include interests template #}
        {% include 'interests.j2' %}

        {# include certifications & accreditations template #}
        {% include 'certifications.j2' %}

        {# include skills.j2 #}
        {% include 'skills.j2' %}

      </article>

      <!--
        - #EDUCATION
      -->

      <article class="resume" data-page="resume">

        <header>
          <h2 class="h2 article-title">Resume</h2>
        </header>

        {# include educuation tempalte #}
        {% include 'education.j2' %}

        {# include experience tempalte #}
        {% include 'experience.j2' %}

      </article>


      <article class="publications" data-page="publications">

        <header>
          <h2 class="h2 article-title">Publications</h2>
        </header>

        {# include publications tempalte #}
        {% include 'publications.j2' %}

      </article>


      <!--
        - #PORTFOLIO
      -->

      <article class="portfolio" data-page="portfolio">

        <header>
          <h2 class="h2 article-title">Portfolio</h2>
        </header>

        <section class="projects">

          <ul class="filter-list">
            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Python</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Golang</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Others</button>
            </li>
          </ul>

          <div class="filter-select-box">

            <button class="filter-select" data-select>

              <div class="select-value" data-selecct-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

            <ul class="select-list">

              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <li class="select-item">
                <button data-select-item>Python</button>
              </li>

              <li class="select-item">
                <button data-select-item>Golang</button>
              </li>

              <li class="select-item">
                <button data-select-item>Others</button>
              </li>

            </ul>

          </div>

          <ul class="project-list">

            {% for element in portfolio %}
            <li class="project-item active" data-filter-item data-category="{{ element['category'] | lower }}">
              <a href="{{ element['link'] }}">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{{ element['logo'] }}" alt="{{ element['project'] }}" loading="lazy">
                </figure>

                <h3 class="project-title">{{ element['project'] }}</h3>

                <p class="project-category">{{ element['category'] }}</p>

              </a>
            </li>
            {% endfor %}
          </ul>

        </section>

      </article>


    </div>

  </main>

  <!--
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  

</body>

</html>
