<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PageotD GitHub Page</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="./assets/images/page-icon.ico" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="./assets/css/style.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
  <script src="https://kit.fontawesome.com/51722b042c.js" crossorigin="anonymous"></script>
</head>

<body>

  <!--
    - #MAIN
  -->

  <main>

    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="./assets/images/my-avatar.png" alt="Damien Pageot" width="80">
        </figure>

        <div class="info-content">
          <h1 class="name" title="Damien Pageot">Damien Pageot</h1>

          <p class="title">Application Analyst</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>
        
      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <i class="fa-regular fa-envelope"></i>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:damien.pageot@gmail.com" class="contact-link">damien.pageot@gmail.com</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>Saint-Nazaire, Pays de la Loire, France</address>
            </div>

          </li>

        </ul>

        <div class="separator"></div>

        <ul class="social-list">
          {% for element in social %}
          <li class="social-item">
            <a href="{{ element['link'] }}" class="social-link">
              <i class="{{ element['icon'] }}"></i>
            </a>
          </li>
          {% endfor %}
        </ul>

      </div>

    </aside>





    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link  active" data-nav-link>About</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Resume</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Publications</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Portfolio</button>
          </li>

        </ul>

      </nav>





      <!--
        - #ABOUT
      -->

      <article class="about  active" data-page="about">

        <header>
          <h2 class="h2 article-title">About me</h2>
        </header>

        <section class="about-text">
          <p>With a master degree in Planetary Geosciences and a PhD in Geophysics, I had the opportunity to work on several topics and at different scales: lithosphere imaging, sea wall monitoring, concrete monitoring, 
            seismic modeling at reduced scale.
          </p>

          <p>After several years spent in research laboratories, I started a reconversion in the IT world by
            following a DevOps training. This allowed me to join Capgemini and to touch many technologies and methods: 
            Jenkins, Docker, Kubernetes, BIG-IP F5, LDAP as Code...
          </p>
        </section>


        <!--
          - Interests
        -->

        <section class="service">

          <h3 class="h3 service-title">Interests</h3>

          <ul class="service-list">
            {% for element in interests %}
            <li class="service-item">

              <div class="service-icon-box">
                <img src="{{ element['icon'] }}" alt="{{ element['title'] }} icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">{{ element['title'] }}</h4>

                <p class="service-item-text">
                  {{ element['description'] }}
                </p>
              </div>

            </li>
            {% endfor %}

          </ul>

        </section>

        <section class="service">

          <h3 class="h3 service-title">Certifications & Accreditations</h3>

          <ul class="service-list">
            {% for element in certifications %}
            <li class="service-item">

              <div class="service-icon-box">
                <img src="{{ element['icon'] }}" alt="{{ element['title'] }} icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">{{ element['type'] }}</h4>

                <p class="service-item-text">
                  <a href="{{ element['link'] }}">{{ element['title'] }}</a>
                </p>
              </div>

            </li>
            {% endfor %}

          </ul>

        </section>

        <section class="skill">

          <h3 class="h3 skills-title">My skills</h3>

          <ul class="skills-list content-card">

            {% for element in skills %}
            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">{{ element['name'] }}</h5>
                <!-- <data value="80">{{ element['score'] }}%</data> -->
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: {{ element['score'] }}%;"></div>
              </div>

            </li>
            {% endfor %}

          </ul>

        </section>

      </article>

      <!--
        - #EDUCATION
      -->

      <article class="resume" data-page="resume">

          <header>
              <h2 class="h2 article-title">Resume</h2>
          </header>

          <section class="timeline">
          
              <div class="title-wrapper">
                  <div class="icon-box">
                    <ion-icon name="book-outline"></ion-icon>
                  </div>
                  <h3 class="h3">Education</h3>
              </div>

              <ol class="timeline-list">

                  {% for element in education %}
                  <li class="timeline-item">

                      <h4 class="h4 timeline-item-title">{{ element['grade'] }}</h4>
                      <span style="color:white;font-weight:lighter"><em>{{ element['school'] }}</em></span>
                      <span>{{ element['date'] }}</span>
                      <p class="timeline-text">{{ element['description'] }}</p>

                  </li>
                  {% endfor %}

          </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="briefcase-outline"></ion-icon>
            </div>
            <h3 class="h3">Experience</h3>
          </div>

          <ol class="timeline-list">

            {% for element in experience %}
            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">{{ element['position'] }}</h4>
              <span style="color:white;font-weight:lighter"><em>{{ element['society'] }}</em></span>
              <span>{{ element['date'] }}</span>

              <p class="timeline-text" style="font-size:0.9em">{{ element['description'] }}</p>

            </li>
            {% endfor %}

          </ol>

        </section>

      </article>


      <article class="publications" data-page="publications">

        <header>
          <h2 class="h2 article-title">Publications</h2>
        </header>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="school-outline"></ion-icon>
            </div>

            <h3 class="h3">PhD Thesis</h3>
          </div>

          <ol class="timeline-list">

            {% for element in references %}
            {% if 'PhdThesis' in element['category'] %}
            <li class="timeline-item">
              <!-- <span>{{ element['category'] }}</span> -->
              <p class="timeline-text" style="font-size:0.8em">
                {{ element['author'] }} (<span style="color:hsl(100, 60%, 38%);display:inline">{{ element['year'] }}</span>). {{ element['title'] }}, <em>{{ element['school'] }}</em>. <a href="{{ element['link'] }} style="color:hsl(200, 60%, 40%) 0%">{{ element['link'] }}</a>
              </p>
            </li>
            {% endif %}
            {% endfor %}

          </ol>

        </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="newspaper-outline"></ion-icon>
            </div>

            <h3 class="h3">Articles</h3>
          </div>

          <ol class="timeline-list">

            {% for element in references %}
            {% if 'Article' in element['category'] %}
            <li class="timeline-item">
              <!-- <span>{{ element['category'] }}</span> -->
              <p class="timeline-text" style="font-size:0.8em">
                {{ element['author'] }} (<span style="color:hsl(100, 60%, 38%);display:inline">{{ element['year'] }}</span>). {{ element['title'] }}, <em>{{ element['journal'] }}</em>, <b>{{ element['volume'] }}</b>, {{ element['pages'] }}. <a href="https://doi.org/{{ element['doi'] }} style="color:hsl(200, 60%, 40%) 0%">{{ element['doi'] }}</a>
              </p>
            </li>
            {% endif %}
            {% endfor %}

          </ol>

        </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="easel-outline"></ion-icon>
            </div>

            <h3 class="h3">In Proceedings</h3>
          </div>

          <ol class="timeline-list">

            {% for element in references %}
            {% if 'InProceedings' in element['category'] %}
            <li class="timeline-item">
              <!-- <span>{{ element['category'] }}</span> -->
              <p class="timeline-text" style="font-size:0.8em">
                {{ element['author'] }} (<span style="color:hsl(100, 60%, 38%);display:inline">{{ element['year'] }}</span>). {{ element['title'] }}, <em>{{ element['meeting'] }}</em>.
              </p>
            </li>
            {% endif %}
            {% endfor %}

          </ol>

        </section>

      </article>


      <!--
        - #PORTFOLIO
      -->

      <article class="portfolio" data-page="portfolio">

        <header>
          <h2 class="h2 article-title">Portfolio</h2>
        </header>

        <section class="projects">

          <ul class="filter-list">

            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Web design</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Applications</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Web development</button>
            </li>

          </ul>

          <div class="filter-select-box">

            <button class="filter-select" data-select>

              <div class="select-value" data-selecct-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

            <ul class="select-list">

              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <li class="select-item">
                <button data-select-item>Web design</button>
              </li>

              <li class="select-item">
                <button data-select-item>Applications</button>
              </li>

              <li class="select-item">
                <button data-select-item>Web development</button>
              </li>

            </ul>

          </div>

          <ul class="project-list">

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="https://github.com/PageotD/juliaset/tree/main">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/juliaset.jpg" alt="Julia set generator" loading="lazy">
                </figure>

                <h3 class="project-title">Julia set generator</h3>

                <p class="project-category">Python</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="https://github.com/PageotD/pybann/tree/main">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/pybann.jpg" alt="Julia set generator" loading="lazy">
                </figure>

                <h3 class="project-title">PyBANN</h3>

                <p class="project-category">Python</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="https://gist.github.com/PageotD/c79a1e93da8fa917f807100478a6ebd2">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/neighborhood.png" alt="neighborhood" loading="lazy">
                </figure>

                <h3 class="project-title">Neighborhood</h3>

                <p class="project-category">Python</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-3.jpg" alt="fundo" loading="lazy">
                </figure>

                <h3 class="project-title">Fundo</h3>

                <p class="project-category">Web design</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="applications">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-4.png" alt="brawlhalla" loading="lazy">
                </figure>

                <h3 class="project-title">Brawlhalla</h3>

                <p class="project-category">Applications</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-5.png" alt="dsm." loading="lazy">
                </figure>

                <h3 class="project-title">DSM.</h3>

                <p class="project-category">Web design</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-6.png" alt="metaspark" loading="lazy">
                </figure>

                <h3 class="project-title">MetaSpark</h3>

                <p class="project-category">Web design</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-7.png" alt="summary" loading="lazy">
                </figure>

                <h3 class="project-title">Summary</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="applications">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-8.jpg" alt="task manager" loading="lazy">
                </figure>

                <h3 class="project-title">Task Manager</h3>

                <p class="project-category">Applications</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-9.png" alt="arrival" loading="lazy">
                </figure>

                <h3 class="project-title">Arrival</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>

          </ul>

        </section>

      </article>


    </div>

  </main>

  <!--
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  

</body>

</html>
